*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 500px;
    background-color:black;
   
}
h1{
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translatex(-50%) translateY(-500%);
    

}
.container{
    margin-left: 600px;
}
.budget{
    margin-left:50px;
    padding:50px;
}

.favorite{
    margin-left: 300px;
    padding: 50px;
}


